### Creating scoring function 
    1. Passing 
    2. Recieving 
    3. Rushing 
 
 3 functions used together based on the data provided then add up for total points

In [1]:
#import library
import gspread 
#Service client credential from oauth2client
from oauth2client.service_account import ServiceAccountCredentials
# Print nicely
import pprint
#Create scope
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
#create some credential using that scope and content of startup_funding.json
creds = ServiceAccountCredentials.from_json_keyfile_name('quickstart/g_sheet_creds.json',scope)
#create gspread authorize using that credential
client = gspread.authorize(creds)

In [2]:
#getting the data 

sheet_url = 'https://docs.google.com/spreadsheets/d/11D57-HeQYujW7vZtN0MXsGpyNgWj45Q87BPiAD9CNCk/edit#gid=0'

sheet = client.open_by_url(sheet_url).sheet1

passing = sheet.get_all_values()

In [3]:
colnames = passing.pop(0)
print(colnames)

['Rk', 'Player', 'Pos', 'Age', 'Date', 'Lg', 'Tm', 'Opp', 'Result', 'G#', 'Week', 'Day', 'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'Int', 'Rate', 'Sk', 'Y/A', 'AY/A']

In [4]:
import pandas as pd 

df = pd.DataFrame(passing, columns=colnames)
df.head()

,Rk,Player,Pos,Age,Date,Lg,Tm,Opp,Result,G#,...,Cmp,Att,Cmp%,Yds,TD,Int,Rate,Sk,Y/A,AY/A
0,1,Julian Edelman,WR,33.179,2019-11-17,NFL,NWE,PHI,W 17-10,10,...,1,1,100.00,0,1,0,158.3,0,15.00,35.00
1,2,Lamar Jackson,QB,22.314,2019-11-17,NFL,BAL,HOU,W 41-7,10,...,17,24,70.83,0,4,0,139.2,0,9.25,12.58
2,3,Kirk Cousins,QB,31.090,2019-11-17,NFL,MIN,DEN,W 27-23,11,...,29,35,82.86,35,3,0,133.2,5,9.11,10.83
3,4,Drew Brees,QB,40.306,2019-11-17,NFL,NOR,TAM,W 34-17,10,...,28,35,80.00,0,3,0,122.4,0,6.51,8.23
4,5,Sam Darnold,QB,22.165,2019-11-17,NFL,NYJ,WAS,W 34-17,10,...,19,30,63.33,8,4,1,121.3,2,9.77,10.93

In [ ]:
def passing_pts(df):
    #declaring the scoring parameters for passing stats 
    pts = {
        "yds":.04,
        "td":4,
        "300yd":3, 
        "int":-1,
        "fumble":-1
            }
    #applyting to the data 
    score = df["Yds"]

In [ ]:
def receiving_rush_pts(df): 
    pts = {
        "yds":.1,
        "td":6.,
        "100yds":3,
        "fumble":-1,
        "2pt": 2
    }

In [5]:
92000/60/52

29.487179487179485

In [33]:
df["Yds"]

0      0
1      0
2     35
3      0
4      8
5      0
6      0
7     10
8     16
9     19
10    18
11    19
12    19
13     0
14     4
15    17
16    43
17    43
18     0
19     0
20    23
21    40
22     2
23     0
24     7
25     2
26    49
27     8
28    15
29     8
30    55
31     4
32    10
33     0
34    42
35    43
Name: Yds, dtype: object