1. read in gsheets
2. aggregate at the player - week level 
3. score by week 
4. write data

In [1]:
#import library
import gspread 
#Service client credential from oauth2client
from oauth2client.service_account import ServiceAccountCredentials
# Print nicely
import pprint
#Create scope
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
#create some credential using that scope and content of startup_funding.json
creds = ServiceAccountCredentials.from_json_keyfile_name('../quickstart/g_sheet_creds.json',scope)
#create gspread authorize using that credential
client = gspread.authorize(creds)
my_email = 'matthewjchristy66@gmail.com'

In [2]:
import pandas as pd 
import numpy as np

#### Passing

In [3]:
passing = client.open('passing').sheet1
passing = passing.get_all_values()
pass_df = pd.DataFrame(passing, columns = passing.pop(0))

In [4]:
floats = ['Comp', 'Att', 'Yds', 'TD', 'Int', 'Sck', 'FUM', 'Rate']

pass_df[floats] = pass_df[floats].astype(float)

In [5]:
pass_df["300yd_flag"] = np.where(pass_df['Yds'] >= 300, 1, 0)

#### Rushing

In [6]:
rush = client.open('rushing').sheet1
rush = rush.get_all_values()
rush_df = pd.DataFrame(rush, columns = rush.pop(0))

In [7]:
floats2 = ['Yds', 'TD', 'FUM']
rush_df[floats2] = rush_df[floats2].astype(float)

In [8]:
rush_df['100yd_flag'] = np.where(rush_df['Yds'] >= 100, 1, 0).astype(float)

#### Receiving

In [9]:
rec = client.open('receiving').sheet1
rec = rec.get_all_values()
rec_df = pd.DataFrame(rec, columns = rec.pop(0))

In [10]:
rec_df[floats2] = rec_df[floats2].astype(float)

In [11]:
rec_df['100yd_flag'] = np.where(rec_df['Yds'] >= 100, 1, 0).astype(float)

### Score the data

#### Passing

In [12]:
def passing_pts(df):
    #declaring the scoring parameters for passing stats 
    pts = {
        "yds":.04,
        "td":4,
        "300yd":3, 
        "int":-1,
        "fumble":-1
            }
    #applyting to the data 
    score = df["Yds"]*pts['yds'] + df['TD'] * pts['td'] 
    + df['Int'] * pts['int'] + df['FUM'] * pts['fumble']
    + df['300yd_flag']*pts['300yd']
    
    return(score)

In [13]:
pass_df['passing_fantasy_pts'] = passing_pts(pass_df)

In [14]:
pass_df.head()

,Name,Week,Team,Opp,Score,Comp,Att,Yds,TD,Int,Sck,FUM,Rate,300yd_flag,passing_fantasy_pts
0,Andy Dalton,1,CIN,@ SEA,L 20-21,35.0,51.0,418.0,2.0,0.0,5.0,2.0,106.5,1,24.72
1,Dak Prescott,1,DAL,vs NYG,W 35-17,25.0,32.0,405.0,4.0,0.0,0.0,0.0,158.3,1,32.20
2,Matthew Stafford,1,DET,@ ARI,T 27-27,27.0,45.0,385.0,3.0,0.0,3.0,1.0,110.0,1,27.40
3,Case Keenum,1,WAS,@ PHI,L 27-32,30.0,44.0,380.0,3.0,0.0,1.0,0.0,117.6,1,27.20
4,Patrick Mahomes,1,KC,@ JAX,W 40-26,25.0,33.0,378.0,3.0,0.0,0.0,0.0,143.2,1,27.12

#### Rushing & Receiving

In [15]:
def receiving_rush_pts(df): 
    pts = {
        "yds":.1,
        "td":6,
        "100yds":3,
        "fumble":-1,
        "2pt": 2
    }

    score = df["Yds"]*pts['yds'] + df['TD'] * pts['td']
    + df['FUM'] * pts['fumble'] + df['100yd_flag']*pts['100yds']

    return(score)

In [16]:
rush_df['rush_fantasy_pts'] = receiving_rush_pts(rush_df)

In [17]:
rush_df.head()

,Name,Week,Team,Opp,Score,Att,Yds,Avg,TD,FUM,100yd_flag,rush_fantasy_pts
0,Marlon Mack,1,IND,@ LAC,L 24-30,25,174.0,7.0,1.0,0.0,1.0,23.4
1,Christian McCaffrey,1,CAR,vs LA,L 27-30,19,128.0,6.7,2.0,0.0,1.0,24.8
2,Saquon Barkley,1,NYG,@ DAL,L 17-35,11,120.0,10.9,0.0,0.0,1.0,12.0
3,Dalvin Cook,1,MIN,vs ATL,W 28-12,21,111.0,5.3,2.0,0.0,1.0,23.1
4,Mark Ingram,1,BAL,@ MIA,W 59-10,14,107.0,7.6,2.0,0.0,1.0,22.7

In [18]:
rec_df['rec_fantasy_pts'] = receiving_rush_pts(rec_df)

In [19]:
rec_df.head()

,Name,Week,Team,Opp,Score,Rec,Yds,Avg,TD,FUM,100yd_flag,rec_fantasy_pts
0,Sammy Watkins,1,KC,@ JAX,W 40-26,9,198.0,22.0,3.0,0.0,1.0,37.8
1,Michael Gallup,1,DAL,vs NYG,W 35-17,7,158.0,22.6,0.0,0.0,1.0,15.8
2,John Ross,1,CIN,@ SEA,L 20-21,7,158.0,22.6,2.0,0.0,1.0,27.8
3,DeSean Jackson,1,PHI,vs WAS,W 32-27,8,154.0,19.2,2.0,0.0,1.0,27.4
4,Marquise Brown,1,BAL,@ MIA,W 59-10,4,147.0,36.8,2.0,0.0,1.0,26.7

#### Filtering the data for low / no scores

#### passing

In [20]:
pass_pts_agg = pass_df.groupby('Name')['passing_fantasy_pts'].sum().to_frame().rename(columns = {'passing_fantasy_pts':'szn_pts_total'})

In [21]:
pass_pts_agg.szn_pts_total = pass_pts_agg.szn_pts_total.astype(float)

In [22]:
print(pass_pts_agg.describe())

pass_filter = pass_pts_agg.loc[:, 'szn_pts_total'].quantile(.5)

print(pass_filter)

       szn_pts_total
count     108.000000
mean       77.263333
std       105.517910
min        -0.080000
25%         0.550000
50%         9.060000
75%       190.640000
max       336.360000
9.06

In [23]:
dropnames = pass_pts_agg.loc[pass_pts_agg['szn_pts_total'] < pass_filter]

In [24]:
pass_pts_agg.loc['Julian Edelman', :]

szn_pts_total    5.88
Name: Julian Edelman, dtype: float64

In [25]:
pass_f = pass_df[~pass_df.Name.isin(dropnames)]

#### Receiving

In [26]:
rec_agg = rec_df.groupby('Name')['rec_fantasy_pts'].sum().to_frame().rename(columns = {'rec_fantasy_pts':'szn_pts_total'})

In [27]:
rec_agg.szn_pts_total = rec_agg.szn_pts_total.astype(float)
dropnames = rec_agg.loc[rec_agg[ 'szn_pts_total'] < rec_agg.loc[:, 'szn_pts_total'].quantile(.5), :]

In [28]:
rec_f = rec_df[~rec_df.Name.isin(dropnames)]

#### Rushing

In [29]:
rush_agg = rush_df.groupby('Name')['rush_fantasy_pts'].sum().to_frame().rename(columns = {'rush_fantasy_pts':'szn_pts_total'})

In [30]:
rush_agg.szn_pts_total = rush_agg.szn_pts_total.astype(float)
dropnames = rush_agg.loc[rush_agg[ 'szn_pts_total'] < rush_agg.loc[:, 'szn_pts_total'].quantile(.5), :]

In [31]:
rush_f = rush_df[~rush_df.Name.isin(dropnames)]

### Write the Data

In [32]:
# %load ../01_data-acq/write_function.py
def writer(data, sheet_name, share_email):
    #Grabbing Parameters for looping 
    n_rows = data.shape[0]
    n_cols = data.shape[1]
    
    #creating sheets
     #Now will can access our google sheets we call client.open on StartupName
    sheet = client.create(sheet_name) 
    sheet.share(share_email,  perm_type='user', role='writer') #sharing my email 
    
    #getting cell list to batch update
    import string
    end_col = string.ascii_uppercase[n_cols - 1]
    end_row = n_rows + 1
    
    sheet_range = 'A1:'+ end_col + str(end_row)
    
    #turning df to one long list 
    df_as_list = data.stack().tolist()
    df_as_list = data.columns.tolist() + df_as_list
    
    #getting the target sheet 
    ws = sheet.get_worksheet(0)
    cell_list = ws.range(sheet_range)
    
    #writing df list to cell range list 
    for i in range(0, len(cell_list)):
        cell_list[i].value = df_as_list[i]
        
    #batch updating 
    ws.update_cells(cell_list)

In [33]:
writer(data = pass_f, sheet_name = 'passing_processed_step1', share_email = my_email)

In [34]:
writer(data = rush_f, sheet_name = 'rushing_processed_step1', share_email = my_email)

In [35]:
writer(data = rec_f, sheet_name = 'receiving_processed_step1', share_email = my_email)