1. read in gsheets
2. aggregate at the player - week level 
3. score by week 
4. write data

In [1]:
#import library
import gspread 
#Service client credential from oauth2client
from oauth2client.service_account import ServiceAccountCredentials
# Print nicely
import pprint
#Create scope
scope = ['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
#create some credential using that scope and content of startup_funding.json
creds = ServiceAccountCredentials.from_json_keyfile_name('../quickstart/g_sheet_creds.json',scope)
#create gspread authorize using that credential
client = gspread.authorize(creds)

In [2]:
import pandas as pd 
import numpy as np

#### Passing

In [4]:
passing = client.open('passing').sheet1
passing = passing.get_all_values()
pass_df = pd.DataFrame(passing, columns = passing.pop(0))

In [5]:
pass_df.head()

               Name Team     Opp     Score Comp Att  Yds TD Int Sck FUM   Rate
0       Andy Dalton  CIN   @ SEA  L 20-21    35  51  418  2   0   5   2  106.5
1      Dak Prescott  DAL  vs NYG  W 35-17    25  32  405  4   0   0   0  158.3
2  Matthew Stafford  DET   @ ARI  T 27-27    27  45  385  3   0   3   1  110.0
3       Case Keenum  WAS   @ PHI  L 27-32    30  44  380  3   0   1   0  117.6
4   Patrick Mahomes   KC   @ JAX  W 40-26    25  33  378  3   0   0   0  143.2

In [6]:
floats = ['Comp', 'Att', 'Yds', 'TD', 'Int', 'Sck', 'FUM', 'Rate']

pass_df[floats] = pass_df[floats].astype(float)

In [7]:
pass_df["300yd_flag"] = np.where(pass_df['Yds'] >= 300, 1, 0)

#### Rushing

In [ ]:
rush = client.open('rushing').sheet1
rush = rush.get_all_values()
rush_df = pd.DataFram(rush, rush.pop(0))

In [ ]:
floats2 = ['Yds', 'TD', 'FUM']
rush_df = rush_df[floats2].astype(float)

In [ ]:
rush_df['100yd_flag'] = np.where(rush_df['Yds'] >= 100, 1, 0)

#### Receiving

In [ ]:
rec = client.open('receiving').sheet1
rec = rec.get_all_values()
rec_df = pd.DataFrame(rec, rec.pop(0))

In [ ]:
rec_df = rec_df[floats2].astype(float)

In [ ]:
rec_df['100yd_flag'] = np.where(rec_df['Yds'] >= 100, 1, 0)

### Score the data

#### Passing

In [8]:
def passing_pts(df):
    #declaring the scoring parameters for passing stats 
    pts = {
        "yds":.04,
        "td":4,
        "300yd":3, 
        "int":-1,
        "fumble":-1
            }
    #applyting to the data 
    score = df["Yds"]*pts['yds'] + df['TD'] * pts['td'] 
    + df['Int'] * pts['int'] + df['FUM'] * pts['fumble']
    + df['300yd_flag']*pts['300yd']
    
    return(score)

In [9]:
pass_df['passing_fantasy_pts'] = passing_pts(pass_df)

In [12]:
pass_df.head()

,Name,Team,Opp,Score,Comp,Att,Yds,TD,Int,Sck,FUM,Rate,300yd_flag,fantasy_pts
0,Andy Dalton,CIN,@ SEA,L 20-21,35.0,51.0,418.0,2.0,0.0,5.0,2.0,106.5,1,24.72
1,Dak Prescott,DAL,vs NYG,W 35-17,25.0,32.0,405.0,4.0,0.0,0.0,0.0,158.3,1,32.20
2,Matthew Stafford,DET,@ ARI,T 27-27,27.0,45.0,385.0,3.0,0.0,3.0,1.0,110.0,1,27.40
3,Case Keenum,WAS,@ PHI,L 27-32,30.0,44.0,380.0,3.0,0.0,1.0,0.0,117.6,1,27.20
4,Patrick Mahomes,KC,@ JAX,W 40-26,25.0,33.0,378.0,3.0,0.0,0.0,0.0,143.2,1,27.12

#### Rushing & Receiving

In [ ]:
def receiving_rush_pts(df): 
    pts = {
        "yds":.1,
        "td":6,
        "100yds":3,
        "fumble":-1,
        "2pt": 2
    }

    score = df["Yds"]*pts['yds'] + df['TD'] * pts['td']
    + df['FUM'] * pts['fumble'] + df['100yd_flag']*pts['100yd']

    return(score)

In [ ]:
rush_df['rush_fantasy_pts'] = receiving_rush_pts(rush_df)

In [ ]:
rec_df['rec_fantasy_pts'] = receiving_rush_pts(rec_df)

### Join the Data

In [ ]:
full_df = pd.merge(pass_df, rush_df, rec_df, 
                   how = 'outer',
                   on = ['Name', 'Team', 'Opp', 'Score'])