In [1]:
from requests import get 
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 
'https://www.pro-football-reference.com/play-index/pgl_finder.cgi?request=1&match=game&year_min=2019&year_max=2019&season_start=1&season_end=-1&age_min=0&age_max=99&game_type=A&league_id=&team_id=&opp_id=&game_num_min=0&game_num_max=99&week_num_min=11&week_num_max=11&game_day_of_week=&game_location=&game_result=&handedness=&is_active=&is_hof=&c1stat=pass_att&c1comp=gt&c1val=1&c2stat=&c2comp=gt&c2val=&c3stat=&c3comp=gt&c3val=&c4stat=&c4comp=gt&c4val=&order_by=pass_rating&from_link=1'

my_header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36'}

In [ ]:
fantasy_page = get(url, headers = my_header)

doc = lh.fromstring(fantasy_page.content)

In [4]:
print(fantasy_page)

<Response [200]>

In [11]:
table_elements = doc.xpath('//tr')

In [ ]:
[len(T) for T in table_elements[:-1]]

In [22]:
cols = []
i = 0

for t in table_elements[1]:
    i+1
    name = t.text_content()
    print('%d:"%s"'% (i, name))
    cols.append((name, []))

0:"Rk"
0:"Player"
0:"Pos"
0:"Age"
0:"Date"
0:"Lg"
0:"Tm"
0:""
0:"Opp"
0:"Result"
0:"G#"
0:"Week"
0:"Day"
0:"Cmp"
0:"Att"
0:"Cmp%"
0:"Yds"
0:"TD"
0:"Int"
0:"Rate"
0:"Sk"
0:"Yds"
0:"Y/A"
0:"AY/A"

In [21]:
table_elements[1].text_content()

'\n         Rk\n         Player\n         Pos\n         Age\n         Date\n         Lg\n         Tm\n         \n         Opp\n         Result\n         G#\n         Week\n         Day\n         Cmp\n         Att\n         Cmp%\n         Yds\n         TD\n         Int\n         Rate\n         Sk\n         Yds\n         Y/A\n         AY/A\n      '

In [85]:
print(cols[1])

('Player', ['Player', 'Julian Edelman', 'Lamar Jackson', 'Kirk Cousins', 'Drew Brees', 'Sam Darnold', 'Courtland Sutton', 'Josh Allen', 'Dak Prescott', 'Jimmy Garoppolo', 'Matt Ryan', 'Jeff Driskel', 'Derek Carr', 'Kyler Murray', 'Robert Griffin', 'Baker Mayfield', 'Nick Foles', 'Ryan Fitzpatrick', 'Dwayne Haskins', 'Kenjon Barner', 'Sam Koch', 'Player', 'Jacoby Brissett', 'Carson Wentz', 'Patrick Mahomes', 'Jared Goff', 'Tom Brady', 'Mitchell Trubisky', 'Deshaun Watson', 'Brandon Allen', 'Jameis Winston', 'Philip Rivers', 'Kyle Allen', 'Chase Daniel', 'A.J. McCarron', 'Bilal Powell', 'Ryan Finley', 'Mason Rudolph'])

In [26]:
#Since out first row is the header, data is stored on the second row onwards

for j in range(1,len(table_elements)):
    #T is our j'th row
    T=table_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=24:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 

        #Append the data to the empty list of the i'th column
        cols[i][1].append(data)
        #Increment i for the next column
        i+=1

In [65]:
table_elements[3].text_content()

'2Lamar JacksonQB22.3142019-11-17NFLBALHOUW 41-71011Sun172470.8322240139.2179.2512.58'

In [53]:
[len(C) for (title,C) in cols]

[38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38]

In [103]:
Dict={title:column for (title,column) in cols}

df=pd.DataFrame(Dict)

In [92]:
df.head()

,Rk,Player,Pos,Age,Date,Lg,Tm,,Opp,Result,...,Cmp,Att,Cmp%,Yds,TD,Int,Rate,Sk,Y/A,AY/A
0,Rk,Player,Pos,Age,Date,Lg,Tm,,Opp,Result,...,Cmp,Att,Cmp%,Yds,TD,Int,Rate,Sk,Y/A,AY/A
1,1,Julian Edelman,WR,33.179,2019-11-17,NFL,NWE,@,PHI,W 17-10,...,1,1,100.00,0,1,0,158.3,0,15.00,35.00
2,2,Lamar Jackson,QB,22.314,2019-11-17,NFL,BAL,,HOU,W 41-7,...,17,24,70.83,7,4,0,139.2,1,9.25,12.58
3,3,Kirk Cousins,QB,31.090,2019-11-17,NFL,MIN,,DEN,W 27-23,...,29,35,82.86,35,3,0,133.2,5,9.11,10.83
4,4,Drew Brees,QB,40.306,2019-11-17,NFL,NOR,@,TAM,W 34-17,...,28,35,80.00,0,3,0,122.4,0,6.51,8.23

In [93]:
#df.iloc[0,:]

df.loc[df['Rk'] == 'Rk'].index

Int64Index([0, 21], dtype='int64')

In [100]:
df = df.drop(df.loc[df["Rk"] == 'Rk'].index)

df = df.loc[:, ~df.columns.str.contains('')]

In [101]:
df.columns

Index([], dtype='object')

In [102]:
df

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]